<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hue Sensor Temperatures</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    
    <div id="sensor-container" class="sensor-grid">
        <% Object.keys(hueData).forEach(function(sensorId) { %>
            <% const sensor = hueData[sensorId]; %>
            <% if (sensor.state.temperature !== undefined) { %>
                <% const adjacentSensorId = parseInt(sensorId) - 2; %>
                <% if (hueData[adjacentSensorId] !== undefined) { %>
                    <div class="sensor">
                        <h2><%= hueData[adjacentSensorId].name %></h2>
                        <p>Temperature: <%= (sensor.state.temperature / 100).toFixed(2) %></p>
                    </div>
                <% } %>
            <% } %>
        <% }); %>
    </div>
</body>
</html>